.u-section-1 .u-sheet-1 {
  min-height: 91px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  text-decoration: underline !important;
  margin: 16px auto 36px;
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 794px;
}

.u-section-2 .u-image-1 {
  width: 667px;
  height: 667px;
  margin: 53px auto 0;
}

.u-section-2 .u-list-1 {
  margin-bottom: 32px;
  margin-top: -720px;
}

.u-section-2 .u-repeater-1 {
  grid-gap: 10px 10px;
  grid-template-columns: calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px);
  min-height: 762px;
}

.u-section-2 .u-list-item-1 {
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-1 {
  padding: 10px;
}

.u-section-2 .u-image-2 {
  width: 272px;
  height: 272px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 0 auto;
}

.u-section-2 .u-text-1 {
  font-weight: 400;
  margin: 30px auto 0;
}

.u-section-2 .u-list-item-2 {
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-2 {
  padding: 10px;
}

.u-section-2 .u-image-3 {
  width: 272px;
  height: 272px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 0 auto;
}

.u-section-2 .u-text-2 {
  font-weight: 400;
  margin: 30px auto 0;
}

.u-section-2 .u-list-item-3 {
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-3 {
  padding: 10px;
}

.u-section-2 .u-image-4 {
  width: 272px;
  height: 272px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 0 auto;
}

.u-section-2 .u-text-3 {
  font-weight: 400;
  margin: 30px auto 0;
}

.u-section-2 .u-list-item-4 {
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-4 {
  padding: 10px;
}

.u-section-2 .u-image-5 {
  width: 272px;
  height: 272px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 0 auto;
}

.u-section-2 .u-text-4 {
  font-weight: 400;
  margin: 30px auto 0;
}

.u-section-2 .u-list-item-5 {
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-5 {
  padding: 10px;
}

.u-section-2 .u-image-6 {
  width: 272px;
  height: 272px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 0 auto;
}

.u-section-2 .u-text-5 {
  font-weight: 400;
  margin: 30px auto 0;
}

.u-section-2 .u-list-item-6 {
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-6 {
  padding: 10px;
}

.u-section-2 .u-image-7 {
  width: 272px;
  height: 272px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 0 auto;
}

.u-section-2 .u-text-6 {
  font-weight: 400;
  margin: 30px auto 0;
}

.u-section-2 .u-list-item-7 {
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-7 {
  padding: 10px;
}

.u-section-2 .u-image-8 {
  width: 272px;
  height: 272px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 0 auto;
}

.u-section-2 .u-text-7 {
  font-weight: 400;
  margin: 30px auto 0;
}

.u-section-2 .u-list-item-8 {
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-8 {
  padding: 10px;
}

.u-section-2 .u-image-9 {
  width: 272px;
  height: 272px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 0 auto;
}

.u-section-2 .u-text-8 {
  font-weight: 400;
  margin: 30px auto 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 844px;
  }

  .u-section-2 .u-image-1 {
    margin-top: 58px;
  }

  .u-section-2 .u-list-1 {
    margin-bottom: 23px;
    margin-top: -702px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 798px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1494px;
  }

  .u-section-2 .u-image-1 {
    margin-top: 23px;
  }

  .u-section-2 .u-list-1 {
    margin-bottom: 15px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    min-height: 1491px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2937px;
  }

  .u-section-2 .u-image-1 {
    width: 810px;
    height: 810px;
    margin-top: 1064px;
    margin-left: -135px;
    margin-right: -135px;
  }

  .u-section-2 .u-list-1 {
    margin-bottom: 2px;
    margin-top: -1872px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 2934px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 500px;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 340px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-list-1 {
    margin-top: -1402px;
  }
}